@import '_colors';

// Mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin fade ($speed : .2s) {
  -webkit-transition: 	all $speed linear;
  -moz-transition: 		all $speed linear;
  -ms-transition: 	all $speed linear;
  -o-transition: 	all $speed linear;
  transition: 	all $speed linear;
}

@mixin any( $property, $expression ) {
  -webkit-#{ $property } : #{ $expression };
  -moz-#{ $property } : #{ $expression };
  -ms-#{ $property } : #{ $expression };
  -o-#{ $property } : #{ $expression };
  #{ $property } : #{ $expression };
}

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin calcWidth($expression) {
  width: calc( #{$expression} ) !important;
  width: -webkit-calc( #{$expression} ) !important;
  width: -moz-calc( #{$expression} ) !important;
}

@mixin placeholder_color($color : $azul) {
  color: $color !important;

  &::-webkit-input-placeholder {
    color: $color;
  }

  &:-moz-placeholder {
    color: $color;
  }

  &::-moz-placeholder {
    color: $color;
  }

  &:-ms-input-placeholder {
    color: $color;
  }
}

@mixin transform($property, $expressao) {
}
// END Mixins
