@charset "UTF-8";
/*
  Theme Name: Cauê Almeida
  Theme URI: http://www.cauealmeida.com
  Description: Tema desenvolvido para e por Cauê Almeida's website.
  Author: Cauê Almeida
  Author URI: http://www.cauealmeida.com
  Version: 2.0
*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,700);
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:before, .clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

img#wpstats {
  display: none !important; }

img {
  max-width: 100%;
  border: none; }

img:focus,
input:focus,
textarea:focus,
select:focus,
a:focus,
button:focus {
  outline: none; }

a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

@font-face {
  font-family: icomoon;
  src: url("/wp-content/themes/caue-website/site/fonts/icomoon.eot");
  src: url("/wp-content/themes/caue-website/site/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/caue-website/site/fonts/icomoon.woff") format("woff"), url("/wp-content/themes/caue-website/site/fonts/icomoon.ttf") format("truetype"), url("/wp-content/themes/caue-website/site/fonts/icomoon.svg#icomoon") format("svg");
  font-weight: 400;
  font-style: normal; }
body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
  height: 100%; }

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

* {
  padding: 0;
  margin: 0; }

input, textarea {
  color: #fff;
  font-family: Lato, Calibri, Arial, sans-serif;
  background-color: transparent;
  width: 90%;
  padding: 10px;
  border: 1px solid #fff;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

input[type="submit"]:hover {
  background-color: #fff;
  color: #0D8278; }

input:focus, textarea:focus {
  outline: 0; }

#tabela {
  margin: 0 auto;
  width: 100%;
  text-align: center; }

#tabela ::-webkit-input-placeholder {
  color: #fff;
  font-family: Lato, Calibri, Arial, sans-serif; }

#tabela :-moz-placeholder {
  color: #fff;
  font-family: Lato, Calibri, Arial, sans-serif; }

#tabela ::-moz-placeholder {
  color: #fff;
  font-family: Lato, Calibri, Arial, sans-serif; }

#tabela :-ms-input-placeholder {
  color: #fff;
  font-family: Lato, Calibri, Arial, sans-serif; }

body {
  font-family: Lato, Calibri, Arial, sans-serif;
  color: #f2ede3;
  background: #333;
  font-size: .9em;
  font-weight: 300; }

a {
  color: #DCDCDC;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 0 5px;
  text-transform: uppercase;
  font-size: 80%; }

a:hover {
  color: #000; }

.dd-title {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .dd-title--job {
    font-size: 12px;
    margin-top: 10px;
    position: relative;
    bottom: -100px; }

.container {
  height: 100%; }

.bl-main {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.bl-main > section {
  position: absolute;
  width: 50%;
  height: 50%; }

.bl-main > section:first-child {
  top: 0;
  left: 0;
  background: gray; }

.bl-main > section:nth-child(2) {
  top: 0;
  left: 50%;
  background: #fff; }

.bl-main > section:nth-child(3) {
  top: 50%;
  left: 0;
  background: #72CCA7; }

.bl-main > section:nth-child(4) {
  top: 50%;
  left: 50%;
  background: #10A296; }

.bl-box {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.bl-box h2 {
  text-align: center;
  margin: 0;
  padding: 20px;
  width: 100%;
  font-size: 1.8em;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase; }

.bl-icon {
  font-family: icomoon;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  cursor: pointer;
  -webkit-font-smoothing: antialiased; }

.bl-icon:before {
  display: block;
  font-size: 2em;
  margin-bottom: 10px; }

.bl-icon-about:before {
  content: ""; }

.bl-icon-works:before {
  content: ""; }

.bl-icon-blog:before {
  content: ""; }

.bl-icon-contact:before {
  content: ""; }

.bl-main > section .bl-icon-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  pointer-events: none; }

.bl-icon-close:before {
  content: ""; }

.bl-content, div.bl-panel-items > div > div {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  padding: 0 20px;
  overflow: hidden;
  overflow-y: auto; }

.bl-content p {
  margin: 0 auto;
  padding-bottom: 15px;
  font-size: 1.7em;
  line-height: 1.8; }

.aviso a {
  color: gray; }

.aviso a:hover {
  color: #d3d3d3; }

.bl-content h2 {
  font-size: 3em;
  font-weight: 300;
  margin: 0 0 20px; }

.bl-content article {
  padding: 20px 40px 20px 0; }

.bl-content article h3 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0 10px;
  padding-top: 20px;
  font-size: 1.4em; }

.bl-content article a {
  color: rgba(0, 0, 0, 0.2); }

.bl-content > ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.bl-content > ul li {
  display: inline-block;
  width: 20%;
  margin: 1%; }

.bl-content > ul li a {
  display: block;
  padding: 0;
  border: 8px solid rgba(0, 0, 0, 0.1); }

.bl-content > ul li a img {
  display: block;
  max-width: 100%; }

div.bl-panel-items, div.bl-panel-items > div {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute; }

div.bl-panel-items > div > div {
  width: 60%;
  margin: 0 auto;
  opacity: 1;
  bottom: 90px;
  top: 90px;
  pointer-events: auto; }

div.bl-panel-items > div > div h3 {
  font-size: 2.4em;
  font-weight: 300;
  margin: 0 0 20px; }

div.bl-panel-items > div > div p {
  font-size: 1.3em; }

div.bl-panel-items > div > div img {
  float: left;
  margin: 0 20px 20px 0;
  max-width: 100%; }

div.bl-panel-items {
  top: 100%;
  z-index: 9999; }

div.bl-panel-items > div {
  background: #000;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateY(0);
  -webkit-transition: -webkit-transform .5s ease-in-out, opacity 0s linear .5s;
  -moz-transform: translateY(0);
  -moz-transition: -moz-transform .5s ease-in-out, opacity 0s linear .5s;
  transform: translateY(0);
  transition: transform .5s ease-in-out, opacity 0s linear .5s;
  -ms-transform: translateY(0); }

div.bl-panel-items nav {
  position: absolute;
  z-index: 9999;
  width: 216px;
  left: 50%;
  top: 0;
  margin-left: -108px;
  opacity: 0;
  -webkit-transition: opacity .2s ease-in-out .5s;
  -moz-transition: opacity .2s ease-in-out .5s;
  transition: opacity .2s ease-in-out .5s; }

div.bl-panel-items.bl-panel-items-show nav span {
  float: left;
  margin: 5px; }

#bl-panel-work-items span.bl-icon.bl-icon-close {
  position: absolute;
  top: 0;
  right: -10px; }

div.bl-panel-items nav span.bl-next-work {
  font-weight: 700;
  letter-spacing: 2px;
  display: block;
  text-transform: uppercase;
  line-height: 2em;
  cursor: pointer;
  margin-right: 2em; }

div.bl-panel-items.bl-panel-items-show nav {
  opacity: 1;
  top: -70px; }

div.bl-panel-items > div.bl-show-work {
  z-index: 1000;
  opacity: 1;
  -webkit-transform: translateY(-100%);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  -moz-transform: translateY(-100%);
  -moz-transition: -moz-transform .5s ease-in-out;
  transform: translateY(-100%);
  transition: transform .5s ease-in-out;
  -ms-transform: translateY(-100%); }

div.bl-panel-items > div.bl-hide-current-work {
  opacity: 0;
  -webkit-transition: -webkit-transform .5s ease-in-out, opacity .5s ease-in-out;
  -webkit-transform: translateY(-100%) scale(0.5);
  -moz-transition: -moz-transform .5s ease-in-out, opacity .5s ease-in-out;
  -moz-transform: translateY(-100%) scale(0.5);
  transition: transform .5s ease-in-out, opacity .5s ease-in-out;
  transform: translateY(-100%) scale(0.5);
  -ms-transform: translateY(-100%) scale(0.5);
  z-index: 0; }

.bl-main > section {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

.bl-main > section.bl-expand {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.bl-main > section.bl-expand-top {
  z-index: 100; }

.bl-main > section:first-child.bl-expand {
  background: gray; }

.bl-main > section:nth-child(2).bl-expand {
  background: #fff;
  color: #000; }

.bl-main > section:nth-child(3).bl-expand {
  background: #4BBE8E; }

.bl-main > section:nth-child(4).bl-expand {
  background: #0D8278; }

.bl-main.bl-expand-item > section.bl-scale-down, .bl-main.bl-expand-item > section:not(.bl-expand) {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0; }

.bl-box {
  -webkit-transition: opacity .2s linear .5s;
  -moz-transition: opacity .2s linear .5s;
  transition: opacity .2s linear .5s; }

section.bl-expand .bl-box {
  opacity: 0;
  -webkit-transition: opacity 0s linear;
  -moz-transition: opacity 0s linear;
  transition: opacity 0s linear; }

.bl-box h2 {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.no-touch section:not(.bl-expand) .bl-box:hover h2 {
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  transform: translateY(-15px); }

.bl-content, .bl-icon-close {
  -webkit-transition: opacity .1s linear 0s;
  -moz-transition: opacity .1s linear 0s;
  transition: opacity .1s linear 0s; }

section.bl-expand .bl-content, section.bl-expand .bl-icon-close {
  pointer-events: auto;
  opacity: 1;
  -webkit-transition: opacity .3s linear .5s;
  -moz-transition: opacity .3s linear .5s;
  transition: opacity .3s linear .5s; }

@media screen and (max-width: 46.5em) {
  .bl-box, .bl-content {
    font-size: 75%; }

  .bl-expand .bl-box {
    height: 130px; }

  .bl-content > ul li {
    width: 40%; } }
.ico-flag {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  z-index: 9999;
  background-size: 100%; }

.ico-br {
  background-image: url("/wp-content/themes/caue-website/site/images/brazil.png"); }

.ico-us {
  background-image: url("/wp-content/themes/caue-website/site/images/king.png"); }

/* US */
body.us-page {
  background-color: #f1f1f1;
  color: #000;
  font: 16px 'Lato', sans-serif;
  font-weight: 300; }
  body.us-page > section:first-child {
    height: 100%; }
  body.us-page a {
    cursor: crosshair; }
  body.us-page p {
    font-size: 20px; }

ul.projects {
  font-size: 0;
  padding: 0; }
  ul.projects li {
    position: relative;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    width: 33.3333%; }
  ul.projects img {
    display: block;
    margin: 0 auto; }
  ul.projects figure {
    margin: 0; }
  ul.projects figcaption {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 10px; }
    ul.projects figcaption strong,
    ul.projects figcaption span {
      display: block; }
    ul.projects figcaption strong {
      text-align: center;
      font-size: 18px; }
    ul.projects figcaption span {
      display: none; }

/* 6. Work Section */
.work-section {
  position: relative;
  z-index: 3; }

.arrow-down {
  display: block;
  width: 0px;
  height: 0px;
  margin-right: auto;
  margin-left: auto;
  border-top: 30px solid white;
  border-right-style: solid;
  border-right-width: 30px;
  border-left-style: solid;
  border-left-width: 30px;
  color: transparent; }

.arrow-down.gray {
  border-top-color: #f6f6f6; }

.subtex {
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
  color: #777;
  font-size: 19px;
  line-height: 30px;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  text-transform: none; }

.subtex.in-left {
  padding-left: 0px;
  text-align: left; }

.subtex.in-left.single-four {
  margin-bottom: 45px; }

.wrap-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  color: #373c40;
  text-align: center; }

.portfolio-photo {
  display: block;
  width: 100%;
  height: 360px;
  background-color: #373c40;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  text-align: center;
  text-decoration: none;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (min-width: 1024px) {
    .portfolio-photo {
      height: 30vw; } }

.portfolio-photo-overlay {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  padding-top: 260px;
  background-color: rgba(0, 0, 0, 0.27);
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; }

.portfolio-photo-overlay:hover {
  padding-top: 150px;
  background-color: rgba(0, 0, 0, 0.6); }
  .portfolio-photo-overlay:hover .dd-title--job {
    bottom: 0; }

.portfolio-tittle {
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  color: white;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase; }

.portfolio-subtittle {
  padding-top: 5px;
  color: #d4d4d4;
  font-size: 12px;
  font-weight: 300; }

.bold {
  font-weight: 600; }

.w-row.work-row article {
  width: 33.3333%;
  display: inline-block;
  vertical-align: top; }
  @media (max-width: 768px) {
    .w-row.work-row article {
      width: 50%; } }
  @media (max-width: 480px) {
    .w-row.work-row article {
      width: 100%; } }
  .w-row.work-row article a {
    padding: 0; }

.w-row.work-row {
  font-size: 0; }

ul.socials {
  text-align: center;
  padding: 0; }
  ul.socials li {
    display: inline-block; }
  ul.socials a {
    font-size: 20px;
    color: #000; }
    ul.socials a:hover {
      color: #DCDCDC; }

.not-found {
  background-image: url("/wp-content/themes/caue-website/site/images/giphy.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center; }
  .not-found h1 {
    font-size: 5vw;
    text-align: center;
    text-transform: uppercase; }

html,
body,
main {
  height: 100%; }

div.end {
  float: left;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center; }
  div.end p {
    font: 14px "Lato"; }
    div.end p span {
      width: 36px;
      height: 36px;
      display: inline-block;
      vertical-align: middle;
      background-image: url("/wp-content/themes/caue-website/site/images/icons.gif");
      background-size: 100%; }

main#main-content {
  background-color: #000;
  position: relative;
  height: 100%;
  overflow: hidden; }
  @media (max-width: 1024px) {
    main#main-content {
      height: 40vw; } }

header#main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
  z-index: 9999;
  font-weight: 100;
  color: #fff;
  z-index: 9998; }
  header#main-header h1 {
    font-size: 6vw; }
  header#main-header h2 {
    font-size: 3vw; }

video#video {
  position: absolute;
  width: auto;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto; }

button#main-menu,
nav,
ul.main-menu {
  z-index: 9999; }

button#main-menu {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: #2e2e2e;
  border: 0;
  color: #fff;
  padding: 20px;
  font-size: 20px;
  position: fixed;
  top: 10px;
  left: 10px; }
  button#main-menu:hover {
    background-color: #DCDCDC;
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px); }

.cc-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9990; }

.all-center {
  #position: absolute;
  #top: 50%;
  display: table-cell;
  vertical-align: middle; }

.center {
  #position: relative;
  #top: -50%; }

.light {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 9999; }
  .light a:hover {
    color: #bbb; }
  .light > div {
    display: table;
    width: inherit;
    height: inherit;
    text-align: center; }

.reset-btn {
  border: 0;
  background-color: transparent;
  cursor: pointer; }

.close {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  padding: 5px;
  color: #fff;
  font-size: 30px !important;
  position: absolute;
  top: 10px;
  left: 10px; }
  .close:hover {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px); }

.cross {
  cursor: crosshair; }

.sec {
  padding: 5vw;
  text-align: center; }

.title {
  margin: 10px 0 40px;
  font-size: 40px; }

.subtitle {
  font-size: 30px;
  margin: 10px 0 20px; }

.c--knowledge {
  margin: 40px 0; }

ul.tech {
  font-size: 30px;
  text-align: center; }
  ul.tech li {
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle; }

.ico, .loading {
  background-size: 100%;
  display: inline-block; }

.ico-tech {
  width: 40px;
  height: 40px; }

.ico-angularjs {
  background-image: url("https://camo.githubusercontent.com/6795c053f2fafee4d1c76f3a181876013827dd5e/68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f333437303430322f313230383630372f32376637643134322d323564362d313165332d386330372d6139316532633736396435322e706e67"); }

.ico-php {
  width: 50px;
  height: 50px;
  background-image: url("https://cdn1.iconfinder.com/data/icons/simple-icons/128/php-128-black.png"); }

section#portfolio {
  text-align: center;
  color: #fff;
  background-color: #333;
  padding: 10px 0 0;
  margin: 0 0 50px; }
  section#portfolio h1,
  section#portfolio h2 {
    margin: 30px 0; }
  section#portfolio h1 {
    font-size: 30px; }
  section#portfolio h2 {
    font-size: 20px; }

.has-block-spn span {
  display: block; }

footer#contact h1 {
  font-size: 30px; }
footer#contact form,
footer#contact .contact-box {
  height: inherit; }
footer#contact .contact-box {
  display: table;
  width: 70%;
  margin: 0 auto; }
  @media (min-width: 1024px) {
    footer#contact .contact-box {
      width: 600px; } }
footer#contact h2 {
  font-size: 20px;
  margin: 20px 0; }
footer#contact p {
  margin-bottom: 40px; }
footer#contact input,
footer#contact textarea,
footer#contact button#send {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin-bottom: 10px;
  border-radius: 0;
  font-size: 20px;
  color: #fff; }
  footer#contact input:focus,
  footer#contact textarea:focus,
  footer#contact button#send:focus {
    color: #000;
    background-color: #eee; }
footer#contact button#send {
  color: #000;
  padding: 10px;
  border: 0;
  background-color: #ddd; }
footer#contact textarea {
  height: 150px; }

.end {
  text-transform: uppercase; }

p.final {
  margin-bottom: 20px; }

.loading {
  display: none;
  margin: 0 auto;
  background-image: url("/wp-content/themes/caue-website/site/images/loading.gif");
  width: 30px;
  height: 30px; }

.response {
  color: #fff;
  display: block; }

#blog {
  text-align: center;
  float: left;
  width: 100%;
  margin: 30px 0;
  padding: 20px 0; }
  #blog iframe {
    margin: 50px auto; }
  #blog h2 {
    font-size: 40px; }

.normal {
  float: left;
  width: 100%; }

#wrap {
  font-size: 1em;
  font-weight: 400;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 60vw;
  /* Header */
  /* To Navigation Style */
  /* Codrops demo links */
  /* Related demos */
  /* ANIMATE */ }
  #wrap img {
    max-width: none; }
  #wrap a {
    color: #293d55;
    text-decoration: none;
    outline: none; }
  #wrap a:hover, #wrap a:focus {
    color: #333; }
  #wrap .content {
    padding: 0 1em;
    margin: 0 auto;
    text-align: center;
    position: relative; }
  #wrap .codrops-header {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    z-index: 1000;
    font-size: 1.5em; }
  #wrap .codrops-header h1 {
    position: absolute;
    font-weight: 700;
    font-size: 4.5em;
    line-height: 1.2;
    color: #fff;
    z-index: 1000;
    padding: 0;
    margin: 0;
    left: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    width: 100%;
    top: 48%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0); }
  #wrap .codrops-header h1 span {
    display: block;
    font-size: 35%; }
  #wrap .codrops-header h1 a {
    color: #eff62b; }
  #wrap .codrops-header h1 a:hover,
  #wrap .codrops-header h1 a:focus {
    color: #fff; }
  #wrap .codrops-header h1 span::before,
  #wrap .codrops-header h1 span::after {
    content: ' ― ';
    font-weight: 200; }
  #wrap .codrops-header h1 i {
    display: block;
    font-size: 15%;
    max-width: 40%;
    margin: 0 auto;
    line-height: 2;
    font-style: normal;
    font-weight: 400; }
  #wrap .codrops-top {
    width: 100%;
    font-weight: 500;
    font-size: 0.69em;
    line-height: 2.2;
    padding: 1em 0;
    position: absolute;
    z-index: 100;
    text-transform: uppercase;
    letter-spacing: 1px; }
  #wrap .codrops-top a {
    color: #fff;
    display: inline-block;
    padding: 1em 2em;
    text-decoration: none;
    letter-spacing: 2px; }
  #wrap .codrops-top span.right {
    float: right; }
  #wrap .codrops-top span.right a {
    display: block;
    float: left; }
  #wrap .codrops-icon:before {
    margin: 0 4px;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'codropsicons';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased; }
  #wrap .codrops-icon-drop:before {
    content: "\e001"; }
  #wrap .codrops-icon-prev:before {
    content: "\e004"; }
  #wrap .codrops-demos {
    padding: 3em 0; }
  #wrap .codrops-demos a {
    font-weight: 700;
    font-size: 0.85em;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.5em 0;
    margin: 0 1.5em;
    display: inline-block;
    border-bottom: 2px solid transparent; }
  #wrap .codrops-demos a.current-demo {
    color: #333;
    border-color: #333; }
  #wrap ul.ref {
    padding: 0;
    margin: 0;
    list-style: none; }
  #wrap ul.ref li {
    padding: 1em 0; }
  #wrap .related {
    text-align: center;
    font-weight: 500;
    padding: 5em 0 4em; }
  #wrap .related > a {
    width: calc(100% - 20px);
    max-width: 340px;
    border: 1px solid black;
    border-color: initial;
    display: inline-block;
    text-align: center;
    margin: 20px 10px;
    padding: 25px; }
  #wrap .related a img {
    max-width: 100%;
    opacity: 0.8; }
  #wrap .related a:hover img,
  #wrap .related a:active img {
    opacity: 1; }
  #wrap .related a h3 {
    margin: 0;
    font-weight: 400;
    font-size: 0.925em;
    padding: 1em 0 0.3em;
    max-width: 300px;
    text-align: left; }
  @media screen and (max-width: 60em) {
    #wrap .codrops-header h1 {
      font-size: 7em; } }
  @media screen and (max-width: 30em) {
    #wrap .wrap {
      height: 100vh !important;
      background: #3d4955; }
    #wrap .codrops-header h1 i {
      font-size: 42%;
      max-width: 90%; }
    #wrap .codrops-icon {
      font-size: 1.5em; }
    #wrap .codrops-icon span {
      display: none; } }
  #wrap .wrap {
    margin: 0 auto;
    width: 100%;
    height: 0;
    padding-top: 58%;
    /* ratio of image * 100 */
    overflow: hidden;
    position: relative; }
  #wrap .mockup {
    position: absolute;
    top: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; }
  #wrap .mockup::after {
    content: '';
    position: absolute;
    background: rgba(51, 71, 89, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; }
  #wrap .mockup__img {
    display: block;
    width: 1900px; }
  #wrap .screen,
  #wrap .mobile {
    position: absolute;
    overflow: hidden;
    z-index: 100;
    background: #333;
    outline: 1px solid transparent;
    -webkit-transform-origin: 0px 0px 0px;
    transform-origin: 0px 0px 0px; }
  #wrap .screen {
    width: 1280px;
    height: 800px;
    top: 10px;
    left: 600px;
    -webkit-transform: matrix3d(0.45271, 0.13986, 0, -0.0001, -0.0032, 0.67351, 0, 0.00005, 0, 0, 1, 0, 382, 8, 0, 1);
    transform: matrix3d(0.45271, 0.13986, 0, -0.0001, -0.0032, 0.67351, 0, 0.00005, 0, 0, 1, 0, 382, 8, 0, 1); }
  #wrap .mobile {
    width: 320px;
    height: 480px;
    top: 850px;
    left: 525px;
    -webkit-transform: matrix3d(0.44278, 0.11283, 0, -0.00005, -0.34404, 0.3466, 0, -0.00009, 0, 0, 1, 0, 105, 15, 0, 1);
    transform: matrix3d(0.44278, 0.11283, 0, -0.00005, -0.34404, 0.3466, 0, -0.00009, 0, 0, 1, 0, 105, 15, 0, 1); }
  #wrap .slideshow {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    list-style-type: none; }
  #wrap .slideshow__item {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  #wrap .slideshow__item.current {
    pointer-events: auto;
    z-index: 100;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  #wrap .slideshow img {
    width: 100%; }
  #wrap .slideshow__item.in--next {
    -webkit-animation: inNext 0.5s forwards ease-in-out;
    animation: inNext 0.5s forwards ease-in-out; }
  #wrap .slideshow__item.out--next {
    -webkit-animation: outNext 0.5s forwards ease-in-out;
    animation: outNext 0.5s forwards ease-in-out; }
  #wrap .slideshow__item.in--prev {
    -webkit-animation: inPrev 0.5s forwards ease-in-out;
    animation: inPrev 0.5s forwards ease-in-out; }
  #wrap .slideshow__item.out--prev {
    -webkit-animation: outPrev 0.5s forwards ease-in-out;
    animation: outPrev 0.5s forwards ease-in-out; }

@-webkit-keyframes inPrev {
  0% {
    -webkit-transform: translate3d(-30%, 0, 0);
    transform: translate3d(-30%, 0, 0); }
  100% {
    -webkit-transform: none;
    transform: none; } }
@keyframes inPrev {
  0% {
    -webkit-transform: translate3d(-30%, 0, 0);
    transform: translate3d(-30%, 0, 0); }
  100% {
    -webkit-transform: none;
    transform: none; } }
@-webkit-keyframes inNext {
  0% {
    -webkit-transform: translate3d(30%, 0, 0);
    transform: translate3d(30%, 0, 0); }
  100% {
    -webkit-transform: none;
    transform: none; } }
@keyframes inNext {
  0% {
    -webkit-transform: translate3d(30%, 0, 0);
    transform: translate3d(30%, 0, 0); }
  100% {
    -webkit-transform: none;
    transform: none; } }
@-webkit-keyframes outPrev {
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }
@keyframes outPrev {
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }
@-webkit-keyframes outNext {
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }
@keyframes outNext {
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }
/* Content */
.content {
  position: relative;
  min-height: 250px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.button {
  padding: 1.5em 3.5em;
  border: 0;
  margin: 0;
  background: #272633;
  color: #fff;
  min-width: 8em;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  font-size: 0.85em;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 30px; }

.button:hover {
  background: #4c4b67; }

.button:focus {
  outline: none; }

.grid {
  position: relative;
  width: 100vw; }

.info {
  font-weight: bold;
  margin: 0.25em 0 0 1em;
  color: #000; }

/* Demo themes */
.demo-1 {
  color: #272633;
  background: #CBCAD6; }

.demo-1 a {
  color: #34343c; }

.demo-1 a:hover, .demo-1 a:focus, .demo-1 .codrops-demos a.current-demo {
  color: #6a6a6a; }

.demo-1 .button {
  background: #272633; }

.demo-1 .button:hover {
  background: #6a6a6a; }

.ca-has-error {
  border-color: red; }

.ca-categories-list {
  margin-bottom: 30px; }

.ca-categories-list li {
  display: inline-block;
  vertical-align: middle; }
  .ca-categories-list li a {
    background: #fff;
    color: #000;
    padding: 15px;
    display: inline-block; }
    .ca-categories-list li a:hover {
      background: #000;
      color: #fff; }

#ca-loading-animation {
  background-color: #fff; }
  #ca-loading-animation img {
    display: block;
    margin: auto; }

.ca-active {
  background: #DCDCDC !important; }

.ca-ck {
  padding: 20px; }
  .ca-ck a {
    padding-left: 0; }

.ca-ck > * {
  margin-bottom: 20px; }

.ca-ck p, .ca-ck a, .ca-ck div {
  font-size: 20px !important;
  line-height: 150%; }

article.ca-item h1 {
  text-align: center;
  margin: 20px 0 0;
  font-size: 40px;
  font-family: Lato;
  text-transform: uppercase; }

.ca-back {
  margin: 0 20px 20px 20px;
  color: #000;
  display: block; }
  .ca-back:hover {
    color: #DCDCDC; }

.ca-post-header {
  font-size: 0; }
  .ca-post-header .w-col {
    width: 33.3333%;
    display: inline-block; }

/*# sourceMappingURL=style.css.map */
